body, html {
    height: 100%;
}

.navbar {
    padding-bottom: 0;
}

.nextRow {
    margin-top: 20px;
}

.textCol {
    padding: 5px;
}

.yandexFirstLetter {
    color: red;
}

.yandexRealName {
    padding-left: 10px;
}

.authBlock {
    color: white;
}

.authBlock .fa-user {
    margin-right: 10px;
}

.authBlock .fa-sign-out-alt {
    margin-left: 20px;
}

#upper_nav {
}

#upper_nav a {
    color: white;
}

#upper_nav a.active {
    color: black;
}

.navLabel {
    padding-top: 7px;
}

.dash-content {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 15px;
}

.hidden {
    display: none;
}

.full-height {
    height: 100%;
}

.navbar-brand {
}

#content_nav_sensors a {
    color: white;
}

#content_nav_sensors a:hover {
    text-decoration: underline;
}

.camera-view {
    float: left;
    padding: 10px;
}

.camera-view img {
    width: 100%;
}

.camera-width {
    width: 100%;
}