body, html {
    height: 100%;
}

.navbar {
    padding-bottom: 0;
}

.next_row {
    padding-top: 20px;
}

.text_col {
    padding: 5px;
}

.yandex_first_letter {
    color: red;
}

.yandex_real_name {
    padding-left: 10px;
}

.auth_block .fa-user {
    margin-right: 10px;
}

.auth_block .fa-sign-out-alt {
    margin-left: 20px;
}

#navigation_bar {
    display: flex;
    width: 100%;
    color: white;
}

#navbar-brand {
    flex-grow: 1;
}

#tabs_nav {
    flex-grow: 1;
}

#tabs_nav a {
    color: white;
}

#tabs_nav .nav-item {
    margin-bottom: 0;
}

#tabs_nav.nav-tabs {
    border-bottom: none;
}

#tabs_nav a {
    border-bottom: 1px solid #dee2e6;
}

#tabs_nav a.active {
    color: black;
    border-bottom: none;
    border-bottom: 1px solid white;
}

#brand_nav {
}

#user_nav {
    flex-grow: 2;
    align-self: center;
}

#user_nav .logout {
    float: right;
    margin-top: 2px;
}

.navLabel {
    padding-top: 7px;
}

.dash-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 50px;
    margin-top: -1px;
}

.hidden {
    display: none;
}

.full-height {
    height: 100%;
}

.navbar-brand {
}

#battery_status {
    font-size: 10pt;
}

#battery_status p {
    margin: 0;
}

#content_nav_sensors {
    float: left;
    margin-top: 2px;
}

#content_nav_sensors a {
    color: white;
}

#content_nav_sensors a:hover {
    text-decoration: underline;
}

#content_discovery {
    padding-top: 10px;
}

.camera_view {
    float: left;
    padding: 10px;
}

.camera_view img {
    width: 100%;
}

.camera_width {
    width: 100%;
}

@media only screen and (max-width: 900px) {
    #navigation_bar {
        flex-direction: column;
    }

    .fixed-top {
        position: relative;
    }

    .dash-content {
        position: relative;
        padding-top: 0;
    }

    .full-height {
        height: auto;
    }

    .row {
        flex-direction: column;
    }

    .col-4 {
        flex: none;
        max-width: none;
        height: 400px;
        margin-top: 30px;
    }

    #battery_status {
        height: auto;
    }

    #tabs_nav a {
        border-bottom: none;
    }

    .nav-tabs .nav-link {
        border-bottom-left-radius: .25rem;
        border-bottom-right-radius: .25rem;
    }

    .w-50 {
        width: auto !important;
    }

    .camera_view img {
        margin-top: 20px;
    }
}