body, html {
    height: 100%;
}

.nextRow {
    margin-top: 20px;
}

.textCol {
    padding: 5px;
}

.yandexFirstLetter {
    color: red;
}

.yandexRealName {
    padding-left: 10px;
}

.authBlock {
    color: white;
}

.authBlock .fa-user {
    margin-right: 10px;
}

.authBlock .fa-sign-out-alt {
    margin-left: 20px;
}

.nav {
    position: absolute;
    left: 10px;
    top: 56px;
}

.navLabel {
    padding-top: 7px;
}

.dash-content {
    position: absolute;
    top: 90px;
    bottom: 50px;
    left: 0;
    right: 0;
    width: 100%;
}