<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="manifest" th:href="@{/manifest.json}">

    <title>Dashboard</title>

    <link rel="shortcut icon" th:href="@{/images/android-chrome-192x192.png}" type="image/png">

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.4.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{webjars/chartjs/2.9.3/Chart.css}"/>
    <link rel="stylesheet" th:href="@{webjars/font-awesome/5.13.0/css/all.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div id="navigation_bar">
        <div id="brand_nav">
            <a class="navbar-brand" th:href="@{''}">Dashboard</a>
        </div>

        <ul class="nav nav-tabs" id="tabs_nav">
        </ul>

        <ul class="nav" id="content_nav_sensors">
        </ul>

        <div class="text-right auth_block" id="user_nav">
            <i class="fas fa-user"></i>

            <span class="yandex_first_letter" th:utext="${#strings.substring(userInfo.get('display_name'),0,1)}">
                </span><span th:utext="${#strings.substring(userInfo.get('display_name'),1)}"> </span>

            <span class="yandex_real_name" th:utext="${userInfo.get('real_name')}"> </span>

            <div class="logout">
                <a th:href="@{/logoutUser}"><i class="fas fa-sign-out-alt"></i></a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid dash-content">
    <div id="content_sensors" class="hidden full-height">
        <div class="container-fluid full-height">
            <div class="row h-50">
                <div class="col-4">
                    <canvas id="temperatures_canvas" width="100%"></canvas>
                </div>
                <div class="col-4">
                    <canvas id="humidity_canvas" width="100%"></canvas>
                </div>
                <div class="col-4 text_col" id="battery_status">

                </div>
            </div>
            <div class="row next_row h-50">
                <div class="col-4">
                    <canvas id="pressure_canvas" width="100%"></canvas>
                </div>
                <div class="col-4">
                    <canvas id="linkQuality_canvas" width="100%"></canvas>
                </div>
                <div class="col-4">
                    <canvas id="battery_canvas"></canvas>
                </div>
            </div>
        </div>

        <script th:inline="javascript">

            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('./ServiceWorker.js', {scope: './'})
                    .then((reg) => {
                        console.log('Registration succeeded. Scope is ' + reg.scope);
                    }).catch((error) => {
                    console.log('Registration failed with ' + error);
                });
            }

            devices = /*[[${devices}]]*/ [{
                id: 123,
                wrappingClass: "test"
            }];

            telemetryTemperatures = [[${temperatures}]];
            telemetryHumidity = [[${humidity}]];
            telemetryPressure = [[${pressure}]];
            telemetryLinkQuality = [[${linkQuality}]];
            telemetryBattery = [[${battery}]];
            switchStatus = [[${switchStatus}]];

            telemetryBatteryStatus = /*[[${batteryStatus}]]*/ {
                "test": {
                    currentValue: 123,
                    daysLeft: 100,
                    lastMaxValueDate: "2001-01-01 10:01",
                    currentValueDate: "2001-01-01 10:01",
                    dateDischarge: "2001-01-01 10:01"
                }
            };
        </script>
    </div>

    <div id="content_rates" class="hidden full-height">
        <canvas id="rates_canvas" width="100%"></canvas>

        <script th:inline="javascript">
            rates = [[${rates}]];
        </script>
    </div>

    <div id="content_weather" class="hidden full-height">
        <!-- Gismeteo informer START -->
        <link rel="stylesheet" type="text/css"
              href="https://nst1.gismeteo.ru/assets/flat-ui/legacy/css/informer.min.css">
        <div th:id="${'gsInformerID-' + weatherProperty.getGismeteoHash()}" class="gsInformer"
             style="width:480px;height:237px">
            <div class="gsIContent">
                <div id="cityLink">
                    <a href="https://www.gismeteo.ru/weather-moscow-4368/" target="_blank" title="Погода в Москве">
                        <img src="https://nst1.gismeteo.ru/assets/flat-ui/img/gisloader.svg" width="24" height="24"
                             alt="Погода в Москве">
                    </a>
                </div>
                <div class="gsLinks">
                    <table>
                        <tr>
                            <td>
                                <div class="leftCol">
                                    <a href="https://www.gismeteo.ru/" target="_blank" title="Погода">
                                        <img alt="Погода"
                                             src="https://nst1.gismeteo.ru/assets/flat-ui/img/logo-mini2.png"
                                             align="middle" border="0" width="11" height="16"/>
                                        <img src="https://nst1.gismeteo.ru/assets/flat-ui/img/informer/gismeteo.svg"
                                             border="0" align="middle" style="left: 5px; top:1px">
                                    </a>
                                </div>
                                <div class="rightCol">
                                    <a href="https://www.gismeteo.ru/weather-moscow-4368/2-weeks/" target="_blank"
                                       title="Погода в Москве на 2 недели">
                                        <img src="https://nst1.gismeteo.ru/assets/flat-ui/img/informer/forecast-2weeks.ru.svg"
                                             border="0" align="middle" style="top:auto"
                                             alt="Погода в Москве на 2 недели">
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <script async
                th:src="${'https://www.gismeteo.ru/api/informer/getinformer/?hash=' + weatherProperty.getGismeteoHash()}"></script>
        <!-- Gismeteo informer END -->

        <br/>

        <iframe th:src="${'https://forecabox.foreca.com/get/' + weatherProperty.getForecaId()}" width="300" height="250"
                marginwidth="0"
                marginheight="0" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
        <br/>

        <a th:href="${'https://clck.yandex.ru/redir/dtype=stred/pid=7/cid=' + weatherProperty.getYandexCid1() + '/*https://yandex.ru/pogoda/213'}"
           target="_blank"><img
                src="https://info.weather.yandex.net/213/1.ru.png?domain=ru" border="0" alt="Яндекс.Погода"/><img
                width="1" height="1"
                th:src="${'https://clck.yandex.ru/click/dtype=stred/pid=7/cid='+weatherProperty.getYandexCid2()+'1227/*https://img.yandex.ru/i/pix.gif'}"
                alt=""
                border="0"/></a>
    </div>

    <div id="content_cameras" class="hidden">
        <script th:inline="javascript">
            cameras = [[${cameras}]];
        </script>

        <div class="container-fluid" id="cameras_views">
        </div>
    </div>

    <div id="content_discovery" class="hidden">
        <input type="button" id="content_discovery_button" class="btn btn-primary" value="Update discovery"><br/>

        <div id="content_discovery_text">
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{webjars/momentjs/2.24.0/moment.js}"></script>
<script type="text/javascript" th:src="@{webjars/moment-timezone/0.5.5/moment-timezone.js}"></script>
<script type="text/javascript" th:src="@{webjars/jquery/3.5.0/jquery.js}"></script>
<script type="text/javascript" th:src="@{webjars/chartjs/2.9.3/Chart.js}"></script>

<script type="text/javascript" th:src="@{/js/ramda.js}"></script>

<script type="text/javascript" th:src="@{/js/Navigation.js}"></script>

<script type="text/javascript" th:src="@{/js/AverageChart.js}"></script>
<script type="text/javascript" th:src="@{/js/CurrencyChart.js}"></script>
<script type="text/javascript" th:src="@{/js/OverallStatus.js}"></script>

<script type="text/javascript" th:src="@{/js/CamerasTab.js}"></script>
<script type="text/javascript" th:src="@{/js/DiscoveryTab.js}"></script>
<script type="text/javascript" th:src="@{/js/scripts.js}"></script>

<script type="text/javascript" th:src="@{webjars/bootstrap/4.4.1/js/bootstrap.js}"></script>

</body>
</html>

