<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Dashboard</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.4.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{webjars/chartjs/2.9.3/Chart.css}"/>
    <link rel="stylesheet" th:href="@{webjars/font-awesome/5.13.0/css/all.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container-fluid authBlock">
        <div class="col">
            <a class="navbar-brand" th:href="@{''}">Dashboard</a>
        </div>
        <div class="col text-left">
            <ul class="nav nav-tabs" id="upper_nav">
            </ul>
        </div>
        <div class="col text-left">
            <ul class="nav" id="content_nav_sensors">
            </ul>
        </div>
        <div class="col text-right">
            <i class="fas fa-user"></i>

            <span class="yandexFirstLetter" th:utext="${#strings.substring(userInfo.get('display_name'),0,1)}">
                </span><span th:utext="${#strings.substring(userInfo.get('display_name'),1)}"> </span>

            <span class="yandexRealName" th:utext="${userInfo.get('real_name')}"> </span>

            <a th:href="@{/logoutUser}"><i class="fas fa-sign-out-alt"></i></a>
        </div>
    </div>
</nav>

<div class="container-fluid dash-content">

    <div id="content_sensors" class="hidden full-height">
        <div class="container-fluid full-height">
            <div class="row h-50">
                <div class="col-4">
                    <canvas id="temperaturesCanvas" width="100%"></canvas>
                </div>
                <div class="col-4">
                    <canvas id="humidityCanvas" width="100%"></canvas>
                </div>
                <div class="col-4 textCol" id="batteryStatus">

                </div>
            </div>
            <div class="row nextRow h-50">
                <div class="col-4">
                    <canvas id="pressureCanvas" width="100%"></canvas>
                </div>
                <div class="col-4">
                    <canvas id="linkQualityCanvas" width="100%"></canvas>
                </div>
                <div class="col-4">
                    <canvas id="batteryCanvas"></canvas>
                </div>
            </div>
        </div>

        <script th:inline="javascript">
            devices = /*[[${devices}]]*/ [{
                id: 123,
                wrappingClass: "test"
            }];

            telemetryTemperatures = [[${temperatures}]];
            telemetryHumidity = [[${humidity}]];
            telemetryPressure = [[${pressure}]];
            telemetryLinkQuality = [[${linkQuality}]];
            telemetryBattery = [[${battery}]];

            telemetryBatteryStatus = /*[[${batteryStatus}]]*/ {
                "test": {
                    currentValue: 123,
                    daysLeft: 100,
                    lastMaxValueDate: "2001-01-01 10:01",
                    currentValueDate: "2001-01-01 10:01",
                    dateDischarge: "2001-01-01 10:01"
                }
            };
        </script>
    </div>

    <div id="content_cameras" class="hidden">
        <script th:inline="javascript">
            cameras = [[${cameras}]];
        </script>

        <div class="container-fluid" id="cameras_views">
        </div>
    </div>

    <div id="content_discovery" class="hidden">
        <input type="button" id="content_discovery_button" class="btn btn-primary" value="Update discovery"><br/>

        <div id="content_discovery_text">
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{webjars/momentjs/2.24.0/moment.js}"></script>
<script type="text/javascript" th:src="@{webjars/moment-timezone/0.5.5/moment-timezone.js}"></script>
<script type="text/javascript" th:src="@{webjars/jquery/3.5.0/jquery.js}"></script>
<script type="text/javascript" th:src="@{webjars/chartjs/2.9.3/Chart.js}"></script>

<script type="text/javascript" th:src="@{/js/Navigation.js}"></script>

<script type="text/javascript" th:src="@{/js/AverageChart.js}"></script>
<script type="text/javascript" th:src="@{/js/BatteryStatus.js}"></script>
<script type="text/javascript" th:src="@{/js/CamerasTab.js}"></script>
<script type="text/javascript" th:src="@{/js/DiscoveryTab.js}"></script>
<script type="text/javascript" th:src="@{/js/scripts.js}"></script>

<script type="text/javascript" th:src="@{webjars/bootstrap/4.4.1/js/bootstrap.js}"></script>

</body>
</html>

